# Today's Lesson? Data Science is mostly Data Cleaning

![data_cleaning_1](data_cleaning_1.png)
[https://www.nytimes.com/2014/08/18/technology/for-big-data-scientists-hurdle-to-insights-is-janitor-work.html](https://www.nytimes.com/2014/08/18/technology/for-big-data-scientists-hurdle-to-insights-is-janitor-work.html)

![data_cleaning_2](data_cleaning_2.png)
[https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#7eb223596f63](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#7eb223596f63)

# Question

Do parking spots with EV charging capability perform better than those without?

# Conversion

Definition is:

$$
C = \frac{R}{S}
$$

where $C$ is conversion rate, $R$ is number of rentals, $S$ is number of searches.

# Populations

So, let's explore our populations: 

- Parking spots with EV charging amenities
- Parking spots without EV charging amenities

In [14]:
from awshelpers import rshelp
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [15]:
rshelp.query("SELECT parking_spot_id, ev_charging FROM postgres_public.parking_spot ORDER BY RANDOM() LIMIT 100;")

Query pid: 10555

    parking_spot_id ev_charging
0               837        None
1              1483        None
2                79        None
3              1037        None
4              3453        None
5              2188        None
6               470        None
7              2689        None
8              3120        None
9              2886        None
10             5352        None
11             4185        None
12             4529        None
13             4482        None
14             3007        None
15             1625        None
16             3941        None
17             4157        None
18             1298        None
19             3089        None
20             5046        None
21             6020        None
22             1477        None
23              128        None
24             2514        None
25             4932        None
26             1084        None
27             3277        None
28             1898        None
29             4683        None
30              907        None
31             5109        None
32             3973        None
33             4969        None
34              318        None
35             3800        None
36             3231        None
37             2088        None
38             3509        None
39             1936        None
40             1279        None
41             3217        None
42             5069        None
43             2982        None
44             3972        None
45             5570        None
46             5827        None
47             1191        None
48             3134        None
49             1262        None
50             4857        None
51             2292        None
52             5161        None
53             4359        None
54              307        None
55             1109        None
56             4131        None
57             1324        None
58             5365        None
59             4643        None
60             1913        None
61             4515        None
62             2136        None
63             6359        None
64             6188        None
65             1627        None
66              607        None
67             4868        None
68             1135        None
69             1438        None
70             4019        None
71             4159        None
72             4526        None
73             3177        None
74             1022        None
75             3123        None
76             1087        None
77             3034        None
78             6085        None
79             1773        None
80             5022        None
81             1797        None
82             1094        None
83             1200        None
84             1317        None
85             2808        None
86             1345        None
87              472        None
88             3234        None
89              257        None
90             4079        None
91             3117        None
92             2711        None
93              269        None
94             5207        None
95             5011        None
96             2238        None
97             2502        None
98             6397        None
99              642        None

In [2]:
rshelp.query("SELECT COUNT(*) FROM postgres_public.parking_spot WHERE ev_charging IS NOT NULL;")

Query pid: 9100

   count
0      0

Oh... well then. How do I find out if a facility has EV charging?

### Ask an engineer!

Turns out, amenities are no longer tied to facilities, they're tied to a particular rate. You could imagine that EV charging would be offered for reservations of 12 hours or less, but they aren't listed for a 24-hour rental, for instance. That being the case, we needed the flexibility to have amenities change by reservation. So, now our data gets more complicated.

In [16]:
rshelp.query("SELECT id, ev_charging FROM postgres_public.ratings_amenities LIMIT 100;")

Query pid: 10599

      id ev_charging
0   4929       False
1   1140       False
2   4256       False
3   1977        True
4   1543       False
5   7678        True
6   2899       False
7   4223       False
8   6199       False
9   4887       False
10   341       False
11  8715       False
12  4543       False
13   543       False
14  1483       False
15  5319       False
16  3501       False
17  8016       False
18  7004       False
19  8582        True
20  7049       False
21   639       False
22  8692       False
23  3902       False
24  4785       False
25  2861       False
26  7808       False
27  7435       False
28  5320       False
29   135       False
30   448       False
31  3044       False
32  8689       False
33   882       False
34  6219       False
35  8401       False
36  2361        True
37  8382       False
38  3117       False
39    70       False
40  8389       False
41  2227       False
42  5290       False
43  9173       False
44  4992       False
45  3846       False
46  1506       False
47  3520       False
48   937       False
49  4046       False
50  3638       False
51  5531       False
52  1412       False
53  8652       False
54  5982       False
55  4160       False
56  5090       False
57  7610       False
58   114       False
59  4004       False
60  5955       False
61  1382       False
62  3963       False
63  8397       False
64  4502       False
65  5299       False
66  2221       False
67  3401       False
68  7095       False
69   887       False
70  5480       False
71  1016       False
72  2380       False
73  5512       False
74  1108       False
75  6600       False
76  7107       False
77  1747       False
78  5366       False
79  2962       False
80  8815       False
81  4330       False
82  8527       False
83  4676       False
84  8288       False
85  2313       False
86  7542       False
87  8134       False
88  6973       False
89  5680       False
90  4691       False
91  2625       False
92  5243       False
93  8707       False
94  4727       False
95  3966       False
96  5683       False
97  3198       False
98  7653       False
99   124       False

In [4]:
rshelp.query("SELECT COUNT(*) FROM (SELECT * FROM postgres_public.ratings_amenities ORDER BY RANDOM() LIMIT 100) WHERE ev_charging;")

Query pid: 9104

   count
0      2

There's the data!

But... What does it mean? Which facility does it apply to?

# Rentals

Let's look at rentals for a bit.

In [17]:
rshelp.query("""
    SELECT rental_id, renter_id, parking_spot_id, rule_trail 
    FROM postgres_public.rental 
    WHERE created >= '2017-04-01' 
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 10744

,rental_id,renter_id,parking_spot_id,rule_trail
0,6142487,1803060,2971,61608.61608.61608.61608.61608.61608.61608.6160...
1,6155457,1752830,5207,53228
2,6086177,1552311,1344,8326
3,6021948,1772185,4604,71223
4,6095317,1790176,3000,62508.62508.62507.62507.62507.62507.62508.6250...
5,6098892,520460,2749,21031
6,6061015,69279,4264,40769
7,6137541,1801097,2920,23364
8,6085739,1776661,2422,17640
9,6117706,1622399,401,68738
10,6068529,1783570,5959,64086.64084
11,6151416,586093,3838,57515
12,6017653,1770649,1657,10549
13,6086161,1684402,4081,36163
14,6065822,1623287,5366,54555
15,6126880,982594,3474,56999
16,6145408,1803966,1980,54859
17,6088078,1498596,4704,50419
18,6083527,1456482,4964,58265
19,6162121,308668,1065,11115
20,6081785,1448422,5648,57115
21,6121212,1130224,4264,40770
22,6052999,1608394,4576,44315
23,6092505,521244,1406,14147
24,6085609,422356,2183,29354
25,6118643,1609981,2177,58286
26,6038190,114006,2191,37325
27,6155446,848920,2190,14563
28,6117885,1761865,2323,19883
29,6102625,1601823,6281,70493
30,6134725,1549933,2820,32603
31,6074507,1777233,1649,11282
32,6042393,405436,776,34902
33,6063074,1526540,3452,49794
34,6145166,570990,2555,53243
35,6037500,781783,957,18589
36,6090109,1788587,657,17165.17165
37,6077879,266408,346,9694
38,6160736,702704,5283,54141
39,6137625,97828,311,66000
40,6144680,322330,4081,36164
41,6029874,1775111,706,5531
42,6107028,1064468,2069,69969
43,6077723,1385769,3838,43784
44,6084711,349035,908,68902
45,6112500,1795950,6003,65947
46,6132833,1357581,571,57524
47,6153919,1797194,4317,44806
48,6154214,1645248,4219,48600
49,6060768,641467,5025,50067
50,6077777,428316,6008,64097
51,6046821,120773,2180,66243
52,6062975,435663,626,35076
53,6046291,1371111,3075,55275
54,6159349,1375623,3218,27948
55,6012981,1283550,1426,9568
56,6090692,1788672,3149,63447.63447.63447.63447
57,6070363,1784214,4571,43447.43447
58,6085313,743378,3839,32747
59,6098735,1188735,1406,14149
60,6125474,318552,2177,58289
61,6038409,259665,5030,50126
62,6074604,995443,2326,60871
63,6029666,1775047,6260,71286
64,6049902,501167,4837,53202
65,6023750,1507167,4337,41233
66,6057214,1781354,4219,48601
67,6039337,555710,5284,70529
68,6147519,871606,5283,62053
69,6042851,2894,2180,15001.15001
70,6137006,719501,4768,58151
71,6103604,1793095,2669,19802
72,6159532,1807642,1354,8313
73,6066545,19371,816,12233
74,6046862,72404,311,66000
75,6068693,1783638,4604,45930
76,6127303,1423408,5743,59631
77,6027438,1774334,2855,24303
78,6107768,844258,742,46447
79,6090549,334256,786,67504
80,6114075,1796449,1318,48123
81,6113800,1796364,5449,68889
82,6137700,149245,3130,28263
83,6151358,1805080,3354,48461
84,6072672,74725,2424,17654
85,6076172,468551,1806,27089
86,6144941,1609842,1789,44406
87,6065005,388653,1314,8222
88,6051688,1646259,5743,59970
89,6144536,1376911,2352,49995
90,6065401,769806,3838,58032
91,6134789,1297036,5237,72599
92,6013015,595727,2092,13313
93,6154082,1677467,5283,62053
94,6076329,1723557,4227,38658
95,6125453,1781875,5698,58502
96,6146842,1804490,2274,44421
97,6133264,1253898,1637,22373
98,6109038,917625,1195,44527
99,6082755,1787079,919,7719

That `rule_trail` field is the one I want, believe it or not. The engineers tell me so. That will join to `id` in `ratings_amenities`. 

But... what's the deal with that `64086.64084` entry? Ugh... "trail" means that multiple ratings can be used for an individual reservation. Each could have different amenities, in principle.

You're telling me I have to write a query that will split `rule_trail` on the `.` and then join each of those to `ratings_amenities` and then run a `BOOL_AND` on the `ev_charging` field in `ratings_amenities`???

The answer is yes. This is what you have to do. But, before getting into that, let's see how the rest of the data will play. I now know that it's possible to get a number for the rentals $R$ above, split on whether this rental offered EV charging or not. But, what about the number of searches $S$?

# Searches

The search data is large. Because of its log-like nature, it's the only part of our core data that one could almost call "Big" Data. You shouldn't call it that because it's a garbage term, but you could. 

This being the case, there have been headaches as to how to architect this data, how to run it, what architecture to support it, etc. It's still a work in progress, as you'll see.

In [21]:
# This takes TOO LONG!
# rshelp.query("SELECT * FROM tracking_public.tracking_results WHERE created >= '2017-04-01' ORDER BY RANDOM() LIMIT 100;")

# Partition it by week?
rshelp.query("""
    SELECT search_id, action_id, spot_id, rule_id
    FROM tracking_public.tracking_results_2017_13 
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 11030

,search_id,action_id,spot_id,rule_id
0,52af479c-1314-11e7-890c-0242ac110002,32c52851-a876-451d-a8e6-a5696aede617,2140,14017.0
1,de1c3fa0-1496-11e7-aeb5-0242ac110002,82185968-a4d4-454b-af08-dbaf37265661,5057,50425.0
2,d686b8ea-17f9-11e7-893f-0242ac110002,da9275a7-cc4e-4b29-95be-44b870266473,994,62071.0
3,ae69cf4a-1403-11e7-8d13-0242ac110002,ae9c5359-1c68-4fcd-b40d-01e1b3a5762e,1057,21581.0
4,5e191864-16d5-11e7-8f63-0242ac110002,5e1919ea-16d5-11e7-8f63-0242ac110002,4578,57545.0
5,ebb6aed6-1480-11e7-a2c7-0242ac110002,ebb6b124-1480-11e7-a2c7-0242ac110002,5852,NaN
6,5ec28b05-080e-459e-b486-316850cac0bf,47b517f2-814d-434e-a380-3eef3d5dfb45,1509,14517.0
7,e8c9db1e-1401-11e7-b61b-0242ac110002,93df2dbe-d758-4cea-a19c-29f8543a3b2b,4484,NaN
8,c520756a-1622-11e7-a0ea-0242ac110002,fb3e665e-77be-44b8-86e7-e4016c477cc4,2557,70392.0
9,9586008e-16ab-11e7-8180-0242ac110002,9586020a-16ab-11e7-8180-0242ac110002,1771,14966.0
10,b5ba9c84-815b-404f-b8d3-5e1d1adb4666,663749ba-a51c-4024-b4e2-23750948fd00,1431,NaN
11,1d709f6c-15cc-11e7-9f86-0242ac110002,1d70a0f2-15cc-11e7-9f86-0242ac110002,2193,19623.0
12,8d958390-141c-11e7-8674-0242ac110002,8d95850c-141c-11e7-8674-0242ac110002,1212,9134.0
13,d5445b32-15b4-11e7-a630-0242ac110002,88956cd3-ad00-47ab-9b84-7ca4e8cc2d86,798,5964.0
14,1e1cec79-ea10-44fc-8e35-1d94d0ea9a17,64c10a4c-865b-438b-a46e-b281d7d24515,4306,NaN
15,d1ca8b60-1709-11e7-a1a7-0242ac110002,d1ca8ce6-1709-11e7-a1a7-0242ac110002,2381,43448.0
16,5c634770-1747-11e7-a119-0242ac110002,5c6348c4-1747-11e7-a119-0242ac110002,5293,62057.0
17,c01fd6bc-157f-11e7-9ade-0242ac110002,c01fd84c-157f-11e7-9ade-0242ac110002,1936,NaN
18,8438F768-77E1-410C-BB4A-8215DA14C591,0D583F69-5068-4567-92D0-E8B54D3AF978,6195,67452.0
19,47c80b4a-171d-11e7-8474-0242ac110002,bc172fc6-d77c-44bf-b26b-b5d45dc36d7a,1313,48112.0
20,afedfb5e-1497-11e7-bad9-0242ac110002,afedfd02-1497-11e7-bad9-0242ac110002,2187,37184.0
21,ea2e322a-1613-11e7-ab1f-0242ac110002,ea2e4c10-1613-11e7-ab1f-0242ac110002,5805,60482.0
22,877f54b4-14b6-11e7-85e4-0242ac110002,a88d29e2-343a-4133-ba62-4f747b883f67,1771,11152.0
23,07b4af79-eb24-4acd-b5c9-2422d4a01d8b,bcf953f7-2896-489c-86c3-696d160cc800,1229,7889.0
24,68b87b72-14e9-11e7-8adf-0242ac110002,187484d9-5806-4154-8c06-62a9816c5503,1023,47387.0
25,64033bab-7481-46a6-bb5b-035456f17bd8,5325832c-de1c-4387-a2a4-2df9b67b0033,4632,57073.0
26,5aca6f98-14cb-11e7-adb2-0242ac110002,cc19ce8d-88c9-4ddd-b4d1-6d02a250e828,2081,58139.0
27,aa426b24-171f-11e7-935d-0242ac110002,bc1e6262-58a8-4259-84a3-dbdb55197ec4,3352,60965.0
28,e5fee048-1319-11e7-8e43-0242ac110002,1c5b0470-0a00-4d41-9c7d-1f68b9d43739,5030,50125.0
29,358379fc-166d-11e7-b041-0242ac110002,43fab029-7636-4fa3-9b91-2fd86330c7b0,1927,NaN
30,dde950b2-1591-11e7-885e-0242ac110002,dde95224-1591-11e7-885e-0242ac110002,2286,14988.0
31,d8f221a4-1552-11e7-9bc1-0242ac110002,d8f223f2-1552-11e7-9bc1-0242ac110002,5802,60497.0
32,e68c94ae-16e5-11e7-82d6-0242ac110002,e68c9710-16e5-11e7-82d6-0242ac110002,234,10023.0
33,66AD9350-AA53-406F-9589-AB4069FD2FF7,E58BBE7B-6A31-49D4-BE50-737301798909,909,43057.0
34,65cf2114-17a4-11e7-b369-0242ac110002,b8f2bacf-da5a-46ac-ad3d-8eb3f5a7f89e,342,5586.0
35,726155a2-1720-11e7-8cb1-0242ac110002,7261570a-1720-11e7-8cb1-0242ac110002,2183,29354.0
36,75df6cf0-178e-11e7-98d3-0242ac110002,b116b851-3c2f-483f-b31c-0b6d63735a2b,4676,NaN
37,20e1cc3a-1454-11e7-a72f-0242ac110002,4e108064-04d3-4b36-ac0b-f0e1eac4d304,2461,NaN
38,85fb510a-1764-11e7-8fe4-0242ac110002,7e1eb136-8abd-4c74-bdf3-f6016d41d27a,3699,46267.0
39,6e5fd1e4-15af-11e7-ba7b-0242ac110002,a9598d81-6f2f-4d81-a322-786f1d43e4db,3126,27000.0
40,4dc9f034-16d3-11e7-848a-0242ac110002,4dc9f250-16d3-11e7-848a-0242ac110002,1170,NaN
41,2aaf0088-134c-11e7-84c2-0242ac110002,22ecd73e-7132-4e6d-a75a-871d55537d6f,4314,NaN
42,22e07218-17d6-11e7-8aa3-0242ac110002,ab17742c-9796-40d2-a5a3-58462bc11191,818,33914.0
43,08df6548-16fc-11e7-b0ee-0242ac110002,08df66ce-16fc-11e7-b0ee-0242ac110002,888,6185.0
44,6C3831AE-F231-4887-9017-DBDCB5286BDC,6C3831AE-F231-4887-9017-DBDCB5286BDC,1412,NaN
45,b20d8486-162c-11e7-a6fd-0242ac110002,670ea2ae-05aa-4acd-a8b3-544f82217e25,6282,70129.0
46,6a9e5c70-1388-11e7-9ebb-0242ac110002,6a9e5e00-1388-11e7-9ebb-0242ac110002,5500,55751.0
47,a0156356-17f4-11e7-ba99-0242ac110002,65c62c19-f619-4a63-abe0-c364fa8eb708,1920,NaN
48,80567790-14c9-11e7-9580-0242ac110002,c86533e3-f10a-46ac-a101-e31d5031db1b,5737,59602.0
49,3C9B74F6-DD15-49B9-AAC8-CE3CA14DEADF,EE593F31-761A-434B-99A4-F39043A9AED0,4641,NaN
50,f26a8ba2-1544-11e7-bcc0-0242ac110002,f26a8e0e-1544-11e7-bcc0-0242ac110002,4607,54499.0
51,f07e0d16-16eb-11e7-a37e-0242ac110002,eddcb281-2b8d-4a5c-bea2-601b040edd1a,234,10023.0
52,1459f382-12da-11e7-9c42-0242ac110002,1459f4fe-12da-11e7-9c42-0242ac110002,1667,19401.0
53,f2f1b8f8-14d5-11e7-9b43-0242ac110002,f2f1baec-14d5-11e7-9b43-0242ac110002,3386,28977.0
54,1107AB2D-1BB4-4150-B368-64B3C760C8C1,A9598F9F-ED8C-407B-BC3F-8E924F3EB064,6238,68337.0
55,367a0974-17fe-11e7-af85-0242ac110002,367a0af0-17fe-11e7-af85-0242ac110002,4180,42682.0
56,34fbfa99-e906-47e5-b704-e81e10e3ef87,a4726163-009f-4254-9e31-273aa44bbcf7,1511,44791.0
57,e72ec66e-13ef-11e7-bc87-0242ac110002,a863acb0-5a8a-4c1d-9f2c-90f7f707508f,5059,50428.0
58,b9356b10-128b-11e7-9095-0242ac110002,b9356c82-128b-11e7-9095-0242ac110002,5980,63376.0
59,479a9dd5-df9f-40d9-9cda-6e86f641010e,3b48ce87-c97e-4328-9fd4-5106fdbfb44b,4604,44705.0
60,63FF9C41-D012-432E-8393-4DF4978452EC,None,3495,31532.0
61,3a012bdb-448f-4dc9-bb44-6d7097a234c6,9dbc11c2-1561-4bc3-ae22-0d4250f50cdf,6272,NaN
62,1009ca2a-15c1-11e7-bb7b-0242ac110002,28879c56-d3c3-4e65-83d2-0372bc45af6c,731,6559.0
63,ac2a5a1e-16d4-11e7-877c-0242ac110002,a6a12fa6-2330-4a8b-bd9b-cda6f0fb7987,2191,37326.0
64,4eb4b30c-162a-11e7-9d0c-0242ac110002,702e023b-6203-4875-b622-d7dca784be70,2073,59150.0
65,41fe644e-134d-11e7-8663-0242ac110002,41fe65c0-134d-11e7-8663-0242ac110002,2267,14950.0
66,95d628e4-12c2-11e7-8ebe-0242ac110002,95d62b3c-12c2-11e7-8ebe-0242ac110002,2312,29449.0
67,f99f07f6-14ca-11e7-bdcd-0242ac110002,f99f097c-14ca-11e7-bdcd-0242ac110002,3498,29946.0
68,5b751652-163b-11e7-adcb-0242ac110002,5b751ada-163b-11e7-adcb-0242ac110002,2489,NaN
69,56a2f2ea-13cd-11e7-93d1-0242ac110002,56a2f736-13cd-11e7-93d1-0242ac110002,690,65458.0
70,0e9a2d07-2d43-4d4c-8261-ca793a072f6c,a59de37a-a3e0-4954-8985-c064a501571a,3299,69160.0
71,6b2359a3-a2ec-41ca-83b1-6abce8703a0c,febf8695-3f68-443d-bb26-7094304a253b,2859,47812.0
72,d1778d84-164b-11e7-9ddf-0242ac110002,d1779004-164b-11e7-9ddf-0242ac110002,2345,NaN
73,35ce3092-172a-11e7-b2fa-0242ac110002,14599995-8cdd-4243-9818-ba01771f8f06,3166,59272.0
74,c4bda718-13fd-11e7-9618-0242ac110002,c4bda9fc-13fd-11e7-9618-0242ac110002,4533,37322.0
75,bf324782-1285-11e7-bd0f-0242ac110002,bf3248e0-1285-11e7-bd0f-0242ac110002,3196,52722.0
76,61704d80-170b-11e7-9006-0242ac110002,2f60f2a6-ca12-4bc6-9ac2-ac88e671bb7f,2123,14035.0
77,211a8c8c-157b-11e7-8dda-0242ac110002,c66f3a78-af05-4a8f-bfb1-25829b2cf722,3357,61055.0
78,ae31980e-14c2-11e7-b179-0242ac110002,c5bae1c6-24df-4b99-9cb7-2b972537f0f9,3007,NaN
79,11934748-1753-11e7-b0c5-0242ac110002,e28f00b2-4a37-4739-bb91-9eb0ca09b808,5815,60475.0
80,9da58c8e-1620-11e7-91a5-0242ac110002,9da58f18-1620-11e7-91a5-0242ac110002,6018,NaN
81,86b87f94-156d-11e7-974a-0242ac110002,7f2e6497-debe-446c-94ad-4f634cb7f872,4306,40844.0
82,9c8cdc38-487f-4fa9-9d2a-16fc5d459f37,ea1e5635-9394-40f1-80ab-a535fe7251c7,1469,NaN
83,66f0f45e-17e6-11e7-9548-0242ac110002,034670db-d44a-484f-b045-0d673cdacbd0,1056,23292.0
84,d557d646-134b-11e7-8663-0242ac110002,cb96aa05-94ad-4338-8498-8c74b08cacad,6251,68534.0
85,7e4d871a-6e8d-4385-8cfe-80545b07e925,95580062-d549-43fe-bccc-bd2e403d2cb7,2326,45889.0
86,54dd39a6-17c0-11e7-b5dc-0242ac110002,e3408ce6-fe9c-4712-9985-85daf2a622b2,919,6222.0
87,706950fa-1799-11e7-b4da-0242ac110002,7143cd0d-81d7-4dfa-90ce-909a93cfde93,853,12881.0
88,2dd126cc-1583-11e7-b0a0-0242ac110002,6346320d-d544-4da9-98e5-c306bcc33c17,827,5926.0
89,26402702-14e6-11e7-acc8-0242ac110002,1fd4a14b-69a5-4a0d-aaf6-ac29c54f302e,2994,64593.0
90,9def58e2-15b6-11e7-961e-0242ac110002,d5da722b-a81c-4912-a993-f2cb95d2dc29,4362,41430.0
91,103269d6-13a9-11e7-bde1-0242ac110002,10326b5c-13a9-11e7-bde1-0242ac110002,5777,60148.0
92,cd2adc5c-acd0-46af-a058-71c46a0a5722,07509c73-fc68-4de1-b9dd-6f8a612f3414,690,5731.0
93,c20ce7e4-1737-11e7-9436-0242ac110002,c20ce960-1737-11e7-9436-0242ac110002,4418,NaN
94,73037d74-171a-11e7-bf05-0242ac110002,73038008-171a-11e7-bf05-0242ac110002,5801,NaN
95,c796c522-1615-11e7-96be-0242ac110002,c796c766-1615-11e7-96be-0242ac110002,2433,59612.0
96,d6053704-1658-11e7-b3d0-0242ac110002,c8fd8e0c-5580-430d-bb03-2be456ee8df1,1627,10021.0
97,89f26926-163b-11e7-b8ad-0242ac110002,89f27e7a-163b-11e7-b8ad-0242ac110002,572,57552.0
98,947423fa-1684-11e7-998e-0242ac110002,94742652-1684-11e7-998e-0242ac110002,5995,63792.0
99,a1e51442-14ca-11e7-a4e2-0242ac110002,a1e515aa-14ca-11e7-a4e2-0242ac110002,2175,57633.0

Well, look at that: `rule_id` is in there! Wait... shouldn't it also be a `rule_trail`? And what is with those `null` values? 

Oh no... that field is defined as an `int` in the database, isn't it? It can't handle a value like `64086.64084`, and so it writes as a `null`, doesn't it? 

### Ask an engineer!

Can we fix this field, make it a `string`?

Sure!

Can we backfill that data and make it correct historically? 

Most definitely not! That ship has sailed.

Okay then... so, let's write an engineering ticket to fix this going forward. They'll get to it in 3 sprints, or 6 weeks. In the mean time, to use the historical data we do have, let's make some data archaeology decisions and decide instead of using amenities per search, let's just assume that every search at a facility instead displays it's "default" amenities. I know this is wrong, but it's an assumption we have to make, or else we are going to get stuck in traffic.

# Default Amenities

Let's look at those parking spots from above. See that `default_amenities_id` in there?

In [22]:
rshelp.query("""
    SELECT parking_spot_id, default_amenities_id 
    FROM postgres_public.parking_spot 
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 11152

    parking_spot_id  default_amenities_id
0              1076                2873.0
1              5893                8755.0
2              5335                8084.0
3              2741                1377.0
4              6306                9219.0
5              5691                8496.0
6              2979                1160.0
7              5538                8302.0
8              3813                 421.0
9              6074                8948.0
10             1787                6692.0
11              760                5964.0
12             3567                 624.0
13             3656                6403.0
14             5264                8006.0
15              100                3777.0
16             3115                1035.0
17             2144                1877.0
18             3819                 418.0
19             3416                 763.0
20              765                3160.0
21             5846                8683.0
22             2267                5602.0
23             5966                8846.0
24             1617                2379.0
25             1839                2175.0
26             3733                5250.0
27             4598                7011.0
28             6142                9031.0
29             1541                5102.0
30              620                3297.0
31             2275                 271.0
32             5275                8017.0
33             4053                3885.0
34             5931                8807.0
35             5189                7926.0
36             3826                 382.0
37             1189                5310.0
38             5764                8574.0
39             2983                1156.0
40             1398                2579.0
41             3417                 762.0
42             5376                8124.0
43              378                3519.0
44              718                6615.0
45              521                3390.0
46             3841                6714.0
47             1321                2647.0
48             2685                5152.0
49              303                3582.0
50             6044                8915.0
51             4891                7604.0
52             5314                8060.0
53             3815                 422.0
54             2887                1242.0
55             5397                8470.0
56             2834                7019.0
57             1888                2126.0
58             2511                1556.0
59             1923                2092.0
60              224                3661.0
61             3901                   NaN
62              995                2953.0
63             1331                5360.0
64             6258                9158.0
65             2618                1486.0
66             2937                1194.0
67             1451                6563.0
68              172                3709.0
69             5539                8303.0
70              480                3429.0
71             2641                6608.0
72             3435                 746.0
73             6015                8897.0
74              287                3598.0
75             6006                8887.0
76             5493                8256.0
77             3601                4384.0
78             1102                2847.0
79             3654                 545.0
80             1883                2131.0
81             2412                5121.0
82             5043                7768.0
83             1431                4667.0
84              215                3669.0
85             5099                7836.0
86             4900                7616.0
87             4633                7297.0
88             3578                5827.0
89             1712                 244.0
90             4180                5853.0
91             4821                7511.0
92             5431                8181.0
93              220                3665.0
94             3644                 553.0
95              159                3721.0
96             2321                1729.0
97             5786                8600.0
98             4604                7107.0
99             4185                5177.0

In [9]:
rshelp.query("""
    SELECT ps.parking_spot_id, ra.ev_charging
    FROM postgres_public.parking_spot ps 
    JOIN postgres_public.ratings_amenities ra ON ra.id = ps.default_amenities_id
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 9267

    parking_spot_id ev_charging
0              4578       False
1              2368       False
2               519       False
3               312       False
4              4712       False
5              5920       False
6              1738       False
7               521       False
8              1799       False
9              1323       False
10             4130       False
11              936       False
12             3844       False
13             4542       False
14             2916       False
15             2191        True
16             2542       False
17              825       False
18             2830       False
19             1278       False
20             2192        True
21             3253       False
22             2080       False
23             2069       False
24             6130       False
25             1782       False
26             3706       False
27             3102       False
28             2115       False
29             4197       False
30             1971        True
31             3355       False
32             1859       False
33             1040       False
34              299       False
35             5479       False
36             2292       False
37             2202       False
38             3938       False
39             2890       False
40             5802       False
41             4640       False
42             4574       False
43             3865       False
44             4096       False
45             2807       False
46             3848       False
47             3731       False
48             3293       False
49             3491       False
50              101       False
51             6320       False
52             3542       False
53             5376       False
54             4385       False
55             2716       False
56             2280       False
57             2057       False
58             2173       False
59             2986       False
60             1750       False
61             1725       False
62             4909       False
63             5710       False
64             3047       False
65             1306       False
66             4890       False
67             3049       False
68             5114       False
69             2516       False
70             5181       False
71             1890       False
72              583       False
73               90       False
74             1887       False
75              731       False
76             4692       False
77             2068       False
78             3196       False
79             5795       False
80             2571       False
81              720       False
82             1476       False
83             4633       False
84             3405       False
85              205       False
86             4043       False
87             5760       False
88             2710       False
89              243       False
90             4120       False
91             1141       False
92              427       False
93             3099       False
94             2834       False
95             4932       False
96             2647       False
97              504       False
98             4658       False
99             6043       False

Yay! We have a good answer for our population division! Finally!

...

...

No wait... Both the `parking_spot` and `ratings_amenities` tables are current snapshots. They tell me if a `parking_spot_id` is `ev_charging` *today*, but what about historically? 

### Ask an engineer!

Is there a way to find out what these tables looked like in the past?

I mean... yes... but, you're not going to like it.

# Revision Tracking

So, there are these two tables called `reversion_version` and `reversion_revision`. I am not joking. Let's look at what's in there.

In [24]:
rshelp.query("""
    SELECT rr.date_created, rv.object_id_int, rv.serialized_data
    FROM postgres_public.reversion_version rv
    JOIN postgres_public.reversion_revision rr ON rr.id = rv.revision_id
    WHERE rv.content_type_id = 28
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 12366

,date_created,object_id_int,serialized_data
0,2015-11-11 15:57:39.843,1157,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
1,2016-09-21 18:39:02.028,2704,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
2,2015-11-04 19:09:54.303,3209,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
3,2014-10-01 16:52:33.661,1609,"[{""pk"": 1609, ""model"": ""spothero.parkingspot"",..."
4,2016-09-27 21:17:49.265,2785,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
5,2015-05-13 20:30:30.135,1146,"[{""pk"": 1146, ""model"": ""spothero.parkingspot"",..."
6,2016-09-20 19:42:39.449,487,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
7,2016-12-05 03:35:11.764,5801,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
8,2015-08-04 14:29:32.892,1147,"[{""fields"": {""vehicle_size"": ""oversized"", ""pho..."
9,2016-11-09 17:25:46.559,4510,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
10,2017-04-09 16:58:00.728,3656,"[{""model"": ""spothero.parkingspot"", ""pk"": 3656,..."
11,2015-07-02 17:12:28.043,2300,"[{""fields"": {""vehicle_size"": ""oversized"", ""pho..."
12,2015-05-21 14:46:14.982,2338,"[{""pk"": 2338, ""model"": ""spothero.parkingspot"",..."
13,2016-06-01 12:41:00.639,1384,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
14,2016-07-21 20:28:40.295,1758,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
15,2016-12-10 20:56:45.516,421,"[{""model"": ""spothero.parkingspot"", ""pk"": 421, ..."
16,2014-12-03 22:55:25.054,1364,"[{""pk"": 1364, ""model"": ""spothero.parkingspot"",..."
17,2014-12-21 18:13:16.505,2085,"[{""pk"": 2085, ""model"": ""spothero.parkingspot"",..."
18,2016-12-12 22:11:32.069,3299,"[{""model"": ""spothero.parkingspot"", ""pk"": 3299,..."
19,2016-02-06 00:11:15.272,2178,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
20,2016-12-14 22:03:51.288,5026,"[{""model"": ""spothero.parkingspot"", ""pk"": 5026,..."
21,2016-07-12 22:06:17.293,1916,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
22,2015-03-16 16:39:08.744,2371,"[{""pk"": 2371, ""model"": ""spothero.parkingspot"",..."
23,2016-08-10 14:12:28.710,3649,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
24,2015-12-08 19:05:48.607,2626,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
25,2016-07-12 22:15:03.731,4219,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
26,2015-03-05 23:13:43.794,2039,"[{""pk"": 2039, ""model"": ""spothero.parkingspot"",..."
27,2016-02-19 01:27:22.043,405,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
28,2015-11-13 18:58:26.747,3317,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
29,2014-12-12 19:24:26.272,342,"[{""pk"": 342, ""model"": ""spothero.parkingspot"", ..."
30,2016-11-09 18:23:32.783,4885,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
31,2015-04-14 21:01:35.499,2026,"[{""pk"": 2026, ""model"": ""spothero.parkingspot"",..."
32,2016-04-19 22:13:54.652,4245,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
33,2015-01-07 21:43:19.311,1992,"[{""pk"": 1992, ""model"": ""spothero.parkingspot"",..."
34,2017-03-05 20:55:04.401,1969,"[{""model"": ""spothero.parkingspot"", ""pk"": 1969,..."
35,2014-09-02 20:25:34.011,1111,"[{""pk"": 1111, ""model"": ""spothero.parkingspot"",..."
36,2016-09-15 15:55:27.658,5280,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
37,2015-12-02 15:12:09.060,2641,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
38,2015-03-18 19:13:49.517,2342,"[{""pk"": 2342, ""model"": ""spothero.parkingspot"",..."
39,2016-01-21 01:43:04.608,3682,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
40,2015-10-22 16:29:24.626,3080,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
41,2016-08-25 21:54:14.396,4110,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
42,2016-03-09 15:08:20.427,348,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
43,2016-11-29 21:33:34.105,3106,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
44,2015-12-12 18:41:38.256,2805,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
45,2015-09-22 00:28:49.096,2906,"[{""fields"": {""vehicle_size"": ""oversized"", ""pho..."
46,2017-01-27 19:06:20.971,3916,"[{""model"": ""spothero.parkingspot"", ""pk"": 3916,..."
47,2016-06-23 21:00:32.002,1679,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
48,2017-02-23 16:55:02.076,6172,"[{""model"": ""spothero.parkingspot"", ""pk"": 6172,..."
49,2016-03-24 16:46:44.495,2779,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
50,2016-01-11 19:59:34.471,3617,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
51,2016-08-31 16:54:20.582,5193,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
52,2017-03-15 15:58:15.940,6236,"[{""model"": ""spothero.parkingspot"", ""pk"": 6236,..."
53,2016-12-05 14:38:37.640,5807,"[{""model"": ""spothero.parkingspot"", ""pk"": 5807,..."
54,2015-06-23 19:41:47.418,2346,"[{""fields"": {""vehicle_size"": ""standard"", ""phon..."
55,2017-01-26 02:11:14.894,4681,"[{""model"": ""spothero.parkingspot"", ""pk"": 4681,..."
56,2017-01-10 16:44:41.366,3351,"[{""model"": ""spothero.parkingspot"", ""pk"": 3351,..."
57,2016-09-21 17:34:18.336,3960,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
58,2014-09-19 17:21:22.260,1738,"[{""pk"": 1738, ""model"": ""spothero.parkingspot"",..."
59,2015-11-13 18:11:51.752,3316,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
60,2014-10-17 04:21:39.869,884,"[{""pk"": 884, ""model"": ""spothero.parkingspot"", ..."
61,2015-11-18 16:51:54.600,2559,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
62,2016-12-03 17:08:44.313,4619,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
63,2017-03-13 20:12:43.380,3467,"[{""model"": ""spothero.parkingspot"", ""pk"": 3467,..."
64,2016-12-15 20:44:41.772,5207,"[{""model"": ""spothero.parkingspot"", ""pk"": 5207,..."
65,2016-06-24 13:21:02.268,3582,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
66,2016-08-08 19:46:49.874,4996,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
67,2014-10-14 17:53:07.085,1732,"[{""pk"": 1732, ""model"": ""spothero.parkingspot"",..."
68,2014-12-05 22:20:55.884,2030,"[{""pk"": 2030, ""model"": ""spothero.parkingspot"",..."
69,2016-11-02 21:45:29.152,4596,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
70,2016-02-24 17:09:18.110,746,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
71,2017-03-30 22:05:48.123,3113,"[{""model"": ""spothero.parkingspot"", ""pk"": 3113,..."
72,2016-04-10 18:48:15.302,4216,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
73,2016-11-17 23:10:27.272,5705,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
74,2017-01-09 23:24:31.320,5925,"[{""model"": ""spothero.parkingspot"", ""pk"": 5925,..."
75,2016-03-12 22:30:18.323,932,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
76,2016-02-19 23:06:51.555,2926,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
77,2014-09-15 16:21:43.895,1728,"[{""pk"": 1728, ""model"": ""spothero.parkingspot"",..."
78,2016-09-14 22:02:55.594,5275,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
79,2015-09-18 20:20:56.479,2981,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
80,2015-09-18 22:05:35.348,2979,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
81,2015-06-02 22:57:56.410,1448,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
82,2016-10-24 17:59:26.588,5529,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
83,2016-06-29 19:12:47.615,4775,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
84,2014-12-16 18:08:43.214,1733,"[{""pk"": 1733, ""model"": ""spothero.parkingspot"",..."
85,2016-09-07 15:46:32.848,2461,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
86,2015-08-24 16:02:25.009,819,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
87,2014-12-15 01:57:36.719,2075,"[{""pk"": 2075, ""model"": ""spothero.parkingspot"",..."
88,2017-02-27 15:07:17.121,414,"[{""model"": ""spothero.parkingspot"", ""pk"": 414, ..."
89,2016-07-25 13:39:36.310,3638,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
90,2015-08-21 15:21:27.176,2518,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
91,2017-01-23 21:48:10.379,2547,"[{""model"": ""spothero.parkingspot"", ""pk"": 2547,..."
92,2017-04-04 18:39:20.970,6358,"[{""model"": ""spothero.parkingspot"", ""pk"": 6358,..."
93,2016-06-25 18:15:32.655,1976,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
94,2017-02-20 19:26:58.168,4654,"[{""model"": ""spothero.parkingspot"", ""pk"": 4654,..."
95,2015-09-18 22:14:00.002,2531,"[{""fields"": {""vehicle_size"": ""not_applicable"",..."
96,2016-03-21 13:42:07.713,2010,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
97,2015-07-28 23:39:43.584,1675,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
98,2015-06-16 22:06:51.949,1949,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."
99,2016-02-12 20:34:06.719,1644,"[{""fields"": {""vehicle_size"": ""oversized_with_f..."

My God... 

😎🕶😦

Is that... JSON? As a field in a relational database?

BAHAHHAHAHAHHA! YOU WISH! If it were nice, valid JSON, there are built in Redshift functions to parse that.

In [11]:
rshelp.query("""
    SELECT 
        rr.date_created,
        rv.serialized_data,
        JSON_EXTRACT_PATH_TEXT(rv.serialized_data, 'fields', 'default_amenities')
    FROM postgres_public.reversion_version rv
    JOIN postgres_public.reversion_revision rr ON rr.id = rv.revision_id
    WHERE rv.content_type_id = 28
          AND rr.date_created >= '2017-04-01'
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 9382

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 4))

InternalError: JSON parsing error
DETAIL:
  -----------------------------------------------
  error:  JSON parsing error
  code:      8001
  context:   invalid json object [{"model": "spothero.parkingspot", "pk": 4625, "fields": {"created": "2016-05-27T19:36:19.578Z", "title": "86 E Wacker Pl. - Comfort Suites Valet Stand", "description": "", "post_purchase_instructions": "", "spaces": 10, "dynamic_invent
  query:     7676528
  location:  funcs_json.h:119
  process:   query3_78 [pid=4591]
  -----------------------------------------------

![malformed_json](malformed_json.png)

The answer... well, it is not fun. It involves writing a Redshift user-defined function (UDF) to parse through this JSON-like blob of text using regex, but in a way that can handle errors gracefully. The code looked like this:

In [12]:
create_udf__get_refund_path = """
    CREATE OR REPLACE FUNCTION warehouse.fuzzy_parse_json(json_blob varchar(65535),
                                                          path_list varchar(65535))
    RETURNS varchar(65535)
    IMMUTABLE
    AS $$
    # Pass json_blob field and a path_list that must be of the form:
    #   '["key1", "key2", 1, ...]' where each entry in the list-like string is either
    #   a string enclosed in "", which is treated as a key for a following dictionary
    #   or
    #   an integer, which is treated as an index for a following list or tuple
        import ast
        import re
        import json

        # Turn the path_list string argument into a literal list to iterate over
        path_list = ast.literal_eval(path_list)

        # Just make sure it is not valid JSON first, because this is easy if so
        try:
            value_out = json.loads(json_blob)
            for p in path_list:
                value_out = value_out[p]
            return value_out
        except:
            pass

        # JSON iterable encloser pairs
        enclosers = {'{': '}', '[': ']', '(': ')'}

        # The value to continually trim. At each step, value_out is what remains of the json_blob.
        # An implied list of a single dict, so do not require always leading path_list with 0.
        value_out = json_blob[1:-1]

        # Get the next key or index from the path_list
        for p in path_list:
            #
            # If value_out is list- or tuple-like, accept an integer in path_list
            #
            if re.search(r'(^\[(.*)\]$)|(^\((.*)\)$)', value_out):
                if not isinstance(p, int):
                    return None
                # Accept index if p is an int and a list- or tuple-like string remains
                i = 0
                buffer = ''
                found = False
                # Walk through each ',' split string segment
                for x in value_out[1:-1].split(','):
                    # Buffer from previous step, if what was split was not a complete object
                    if buffer:
                        # Try to complete the object by adding this step to previous step(s)
                        x = ','.join((buffer, x))
                    for o, c in enclosers.iteritems():
                        # Commas could be enclosed in a nested object, and should be ignored.
                        # This is how we check that every open encloser is met with its closer.
                        if (x.count(o) != x.count(c)) or (x.count('"') % 2 != 0):
                            # If any object was not closed, then the comma that was split on
                            #   should have been nested, so add then next step to this step.
                            buffer = x
                            break
                        buffer = ''
                    if buffer == '':
                        # If it was a full object returned, this is the ith element.
                        # Is the ith element the one you asked for (p)?
                        if p == i:
                            value_out = x.strip()
                            found = True
                            break
                        i += 1
                if (not found) or (value_out == ''):
                    return None
                # If this was our choice to trim value_out, continue on to the next p.
                continue
            #
            # If value_out is dict-like, accept a str- or int-like key
            #
            elif re.search(r'^\{(.*)\}$', value_out):
                if isinstance(p, str):
                    # A str-like key is actually surrounded by ""
                    p = '"{}"'.format(p)
                elif not isinstance(p, int):
                    return None
                # Ensure there is a key match in
                if re.search(r'(?<=(\{{| |,){}:).*'.format(p), value_out) is None:
                    return None
                # Find the key in this dictionary
                found_str = re.search(r'(?<=(\{{| |,){}:).*'.format(p), value_out).group(0).strip()
                # If the value for this key is dict-, list-, or tuple-like, ignore those nested
                # Protect for bad casting of iterables into strings, e.g. "["field"]"
                if (found_str[0] == '"') and (found_str[1] in enclosers.keys()):
                    found_str = found_str[1:]
                if found_str[0] in enclosers.keys():
                    container_count = 1
                    o = found_str[0]
                    c = enclosers[o]
                    value_out = o
                    sub_list = found_str[1:].split(c)
                    while (container_count > 0) and (sub_list not in ('', [''])):
                        x = sub_list.pop(0)
                        container_count -= 1
                        value_out += x + c
                        container_count += x.count(o)
                    if value_out.count(o) != value_out.count(c):
                        return None
                # If the value for this key is string-like, get this string
                elif found_str[0] == '"':
                    value_out = found_str[1:].split('"')[0]
                # Otherwise, the value is object-like (bool, int, float, null, etc), get this obj
                else:
                    value_out = found_str.split(',')[0]
                    if value_out == 'null':
                        value_out = None
            else:
                return None
        return value_out
    $$ LANGUAGE plpythonu;
"""

In [25]:
rshelp.query("""
    SELECT 
        rr.date_created AS date_of_change,
        rv.object_id_int AS parking_spot_id,
        warehouse.fuzzy_parse_json(rv.serialized_data, '["fields", "default_amenities"]') AS default_amenities_id
    FROM postgres_public.reversion_version rv
    JOIN postgres_public.reversion_revision rr ON rr.id = rv.revision_id
    WHERE rv.content_type_id = 28
          AND rr.date_created >= '2017-04-01'
    ORDER BY RANDOM() LIMIT 100;
    """)

Query pid: 12521

            date_of_change  parking_spot_id default_amenities_id
0  2017-04-02 17:32:37.583             1822                 2190
1  2017-04-08 19:37:17.931             4833                 7525
2  2017-04-06 14:13:57.107             6376                 9309
3  2017-04-01 14:03:10.415             5228                 7967
4  2017-04-09 20:52:21.664             2576                 4796
5  2017-04-06 18:41:46.625             6360                 9289
6  2017-04-13 16:31:17.761             1435                 7110
7  2017-04-09 13:00:33.450             3641                 7231
8  2017-04-12 14:23:46.677             6425                 9368
9  2017-04-07 20:57:19.086             1633                 2363
10 2017-04-07 20:17:27.961             6187                 9078
11 2017-04-08 00:25:30.507             6388                 9321
12 2017-04-01 23:21:42.779             4625                 7285
13 2017-04-12 15:15:40.329             6393                 9326
14 2017-04-12 15:29:58.132             3081                 1068
15 2017-04-11 14:51:10.660             1635                 7164
16 2017-04-03 22:25:39.442             5795                 8616
17 2017-04-07 20:11:40.636             4929                 7646
18 2017-04-12 16:44:21.023             4916                 7633
19 2017-04-07 18:47:12.706             5831                 8669
20 2017-04-07 20:46:40.547             2937                 1194
21 2017-04-11 14:35:15.795              932                 7161
22 2017-04-08 18:32:38.124             5237                 7976
23 2017-04-04 18:32:25.131             6358                 9284
24 2017-04-01 15:35:37.744             6113                 9001
25 2017-04-04 23:52:24.952             6364                 9293
26 2017-04-06 19:09:01.567             3274                  889
27 2017-04-09 16:56:45.770             3655                  541
28 2017-04-07 20:57:05.068             4578                 6771
29 2017-04-09 16:56:58.827             3663                  536
30 2017-04-11 22:01:52.805             5760                 8570
31 2017-04-07 16:33:02.861              567                 6994
32 2017-04-07 18:54:40.986              932                 7161
33 2017-04-04 18:30:54.987             6358                 None
34 2017-04-01 23:58:06.047              580                 4986
35 2017-04-01 23:56:47.182             2181                  258
36 2017-04-01 21:53:16.376             2679                 1431
37 2017-04-07 15:50:13.244             1635                 7164
38 2017-04-09 16:57:55.109             5914                 8784
39 2017-04-05 16:49:32.454             2466                 1601
40 2017-04-04 22:39:52.167              340                 6246
41 2017-04-07 20:28:13.830             3171                  989
42 2017-04-04 16:49:54.632             2990                 5201
43 2017-04-10 21:56:05.901             6413                 None
44 2017-04-09 16:57:33.072             3664                 6405
45 2017-04-07 14:10:50.456             5982                 8862
46 2017-04-05 17:58:04.870             6370                 9299
47 2017-04-03 18:50:29.537             1196                 6878
48 2017-04-07 20:52:54.169             2865                 1264
49 2017-04-07 20:43:01.626             2684                 7070
50 2017-04-07 13:52:44.079              924                 3014
51 2017-04-08 18:02:01.247             5328                 8076
52 2017-04-11 14:44:18.752              734                 5843
53 2017-04-04 21:19:56.098             6360                 9289
54 2017-04-07 13:52:58.930             6319                 9235
55 2017-04-04 21:56:35.731             5237                 7976
56 2017-04-07 15:20:07.079             6386                 9319
57 2017-04-11 18:05:11.595             4906                 7622
58 2017-04-07 20:57:40.172             4632                 7296
59 2017-04-07 21:29:53.120             3259                  904
60 2017-04-11 19:24:42.369             6119                 9007
61 2017-04-07 16:30:33.039             4269                 4782
62 2017-04-06 17:03:36.323             5637                 8402
63 2017-04-06 19:09:01.567             3267                  896
64 2017-04-11 16:09:36.458             6180                 9071
65 2017-04-12 15:28:14.349             4833                 7525
66 2017-04-06 17:47:13.779             6345                 9269
67 2017-04-06 16:40:46.314             6381                 9314
68 2017-04-04 23:01:44.159             3070                 1078
69 2017-04-11 19:50:29.873             2387                 5316
70 2017-04-07 13:30:12.418             2649                 4111
71 2017-04-07 14:34:59.660             4858                 7563
72 2017-04-06 16:24:17.920             6380                 9313
73 2017-04-02 17:41:14.610             2672                 1436
74 2017-04-05 00:05:39.194             6365                 9294
75 2017-04-04 19:36:35.259             4178                 4045
76 2017-04-11 20:44:09.247             2724                 1393
77 2017-04-04 18:42:07.059             6184                 9075
78 2017-04-05 18:24:40.697             6371                 9300
79 2017-04-05 17:49:03.612             6370                 9299
80 2017-04-10 14:18:06.217             6398                 9331
81 2017-04-03 19:14:23.682             6351                 9276
82 2017-04-08 16:00:17.875             3637                  557
83 2017-04-11 19:25:52.249             6178                 9068
84 2017-04-05 18:35:00.262              636                 3282
85 2017-04-10 22:50:42.475             6336                 9258
86 2017-04-06 19:09:01.567             3278                  885
87 2017-04-07 20:19:32.973              572                 3340
88 2017-04-09 16:58:22.088             3657                 7088
89 2017-04-01 23:47:56.483             1426                  224
90 2017-04-11 14:50:17.651             5334                 8083
91 2017-04-03 20:07:17.036             4776                 7468
92 2017-04-13 13:59:09.392             6429                 9373
93 2017-04-08 14:33:11.882              846                 3088
94 2017-04-11 13:17:56.735             6387                 9320
95 2017-04-11 14:45:10.210             1169                 5959
96 2017-04-10 22:45:44.491             2543                 7170
97 2017-04-04 18:53:01.321             6184                 9075
98 2017-04-07 16:25:43.482             5001                 7722
99 2017-04-04 19:19:39.435             6322                 9239

What you see above is what pure, utter joy in Data Science looks like. I am sorry, but this is true. It is amazing that I was just able to do that. Literally just writing this one function and deploying it to the analyst team will save time and energy and provide tons of value to each of the business units.

# So, I'm going to stop here...

Here's where we are:

We have the ability to find the number of rentals $R$ by `parking_spot_id` and the ability to tell whether `ev_charging` was enabled at the time of purchase. We have the same for number of searches $S$. 

What we still haven't considered:

- Can I join each rental to a search to determine if this particular search converted? 
    - NO! We're missing that data on the `rental` data sometimes.
- Is there something fishy with the default behavior in searches that would make we want to subset which searches I'm even considering?
    - YES! On our web product, the initial search defaults to current time, 3-hr reservation. When a user changes their time preference, it creates a new `search_id` in our backend. Thus, those 3-hr searches dominate our data but are mostly abandoned, by definition. But, only on web, mind you.
- Is the location distribution of facilities with EV charging enabled similar to a random sample of locations? 
    - NO! They dominate places like the Loop, so we'd really want to find populations of facilities with EV charging stations that have a similar distance distribution to where users are searching to another test population. Calculating where a user is trying to go and then getting the distance between that target location and the location of the facility is... not trivial.
- Is the price distribution of facilities with EV charging enabled similar to a random sample of locations? 
    - NO! Same deal as above.
- Do price and distance dominate our conversion rate expectations? 
    - OF COURSE! To see the signal of "Does EV charging impact conversion rates?" above the variation in conversion rates caused by other factors is... not trivial.

And on and on it goes...